.background{
    background-color: rgb(60,66,74);
    justify-content: center;
    height: 100vh;
    scroll-padding: 20px;
    align-items: center;
    display:flex;
    h2{
        color: rgb(87, 86, 86);
    }
    .todo-card{
        text-align: left;
        width: 580px;
        border-radius: 5px;
        padding: 15px;
        padding-left: 25px;
        background-color: white;
        height: fit-content;
        min-height: 500px;
    }
}